.testimonials {
  white-space: nowrap;
  overflow-x: scroll;
  padding-bottom: 0.5em;
  -webkit-overflow-scrolling: touch;
}

.testimonials::-webkit-scrollbar {
  display: none;
}

.card {
  overflow-wrap: normal;
  white-space: normal;
  width: 100vw;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0em 0.2em 0.5em 0em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  font-family: "Georgia", "Arial", sans-serif;
  margin: 0em 1.25em 0em 0em;
}

.reviewer img {
  border-radius: 50%;
  background-color: gray;
}

.card_container {
  padding: 0.2em;
  padding-bottom: 1em;
}

.checked {
  color: orange;
}

.reviewer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.review {
  width: 100%;
  margin: auto;
}

.reviewer a {
  color: gray;
  vertical-align: middle;
  margin-left: 0.35em;
  text-decoration: inherit;
}

.review rating {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  margin-top: 0em;
  margin-bottom: 0.25em;
}

.review blockquote {
  font-style: italic;
  position: relative;
  margin: 1.5em 1.5em 0em 1.5em;
  padding: 0.5em 2em 0em 3em;
}

.review blockquote:before {
  position: absolute;
  font-size: 4em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
}

.review blockquote:after {
  float: right;
  font-size: 4em;
  line-height: 1.5;
  right: 0;
  bottom: -0.5em;
  content: "\201D";
}

@media only screen and (min-width: 768px) {
  .card {
    width: 40vw;
  }
}
